.footer
    p questo è il 'footer'; gli elements qua sotto vengono inseriti dimamicamente, alla aperture della pagina, da parte dello script che gira sul browser. puoi premere sulla icona mostrata qua sotto per accendere/spegnere la visualizzazione dello stato iniziale 