// preparazione 
include ../store/commited-state.pug
+load()
- const exampleId='lab-pug-02'
- locals.config = {}; locals.config.title= `::${exampleId}`

// app layout
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title lab-pug-02
  body
    span#dinamico
    main 
      block content
      include pulsantiera.pug
    include footer.pug
