include ./store/commited-state.pug
+load()
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= 'index.pug'
  body
    h1 ita-webpack4-labs
    include ./mixin/group.pug

    ul#csr_lablist
    ul#ssr_lablist
      each group in locals.committed.state.groups
        +showgroup(group)

    .debug#website!= process.env.WEB_SITE_URL
