// preparazione 
include ./store/commited-state.pug
+load()
// pagina
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= 'index.pug'
  body
    h1 ita-webpack4-labs
    include ./mixin/lab.pug

    ul#csr_lablist
    ul#ssr_lablist
      each lab in locals.state.labs
        +show(lab)

    .debug#website!= process.env.WEB_SITE_URL
