body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 10%;
  background-color: black;
  color: white;
}
a {
  color: yellowgreen;
}
.hello {
  height: 64px;
  color: rgb(255, 174, 0);
  font-family: "WebFont";
  font-size: 64px;
  font-weight: bold;
  background: url("./../images/icon.png");
}

.footer {
  border-top-color: azure;
  border-top-style: dotted;
  border-bottom-color: azure;
  border-bottom: dotted;
  margin-bottom: 1em;
}

#actions {
  height: 100px;
  overflow-y: scroll;
} 

#dinamico {
    color: orange;
    font-size: 1em;
    border: dotted green;
    background: darkgreen;
}

@media screen and (max-width: 400px) and (prefers-color-scheme: light) {
  body {
    background-color: black;
    color: white;
  }
}

@media screen and (max-min-width: 401px) and (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}
